body {
  background-color: #eef9bf;
}

.title {
  font-size: 56px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #75b79e;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.board {
  width: 65vw;
  margin: 15vh auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  perspective: 1000px;
}

.board button { 
  border: 1px solid black;
  color: #75b79e;
  font-weight: bold;
  background-color: #eef9bf;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100%;
  height: 50px;
  margin-top: 4vh;
}

.board button:hover{
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 5vw;
}

.card {
  width: 117px;
  height: 146px;
  margin: 34px;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

img {
  position: absolute;
  width: 100px;
  height: auto;
  display: block;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(180deg);
}

.flipped .back-face {
  transform: rotateY(0deg);
}

.flipped .front-face {
  transform: rotateY(-180deg);
}

.counter,
.moves {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter span,
.moves span {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: red;
}

.counter p,
.moves p,
.board p {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: #75b79e;
}

@media (max-width: 540px) {
  .board {
    margin: 10vh auto;
  }

  .title {
    font-size: 36px;
  }

  .counter span,
  .moves span {
    font-size: 22px;
  }

  .counter p,
  .moves p,
  .board p {
    font-size: 20px;
  }
}
